
.page{
    width: 930px;
    height: 1280px;
    margin-left: 10px;
    border: 2px solid black;
    margin-top: 20px;
}
.pageTwo{
    width: 940px;
    height: 1340px;
    margin-left: 5px;
    border: 2px solid black;
    margin-top: 125px;
}
.tableBlockTd{
    width: 40px;
    text-align: center;
    font-size: 14.6px;
}

.title{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.certifBlock{
    margin-top: 20px;
}

.bgca{
    margin-right: 120px;
}
.certif{
    margin-right: 160px;
}
.iso{
    margin-right: 100px; 
}

.pageCount{
    margin-left: 750px;
    font-size: 20px;
}

.certifNum{
    margin-top: 30px;
}

.sertificareteNumber{
margin-left: 50px;
font-size: 20px;
}
.stigma{
    margin-left: 50px;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.calibrationTime{
    margin-left: 130px;
    font-size: 20px;
}

.calibrationDate{
    margin-left: 100px;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.calibrationObjectBlock{
    margin-top: 35px;
}

.calObject{
margin-left: 50px;
font-size: 20px;
}
.claibrationObject{
    margin-left: 30px;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.serialNum{
    margin-left: 140px;
    font-size: 20px;
}

.serialNumber{
    margin-left: 20px;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.diskriptionBlock{
    margin-top: 10px;
}
.objectDicription{
    margin-left: 25%;
}

.ownerBlock{
    margin-top: 30px;
    margin-left: 50px;
}

.owmer{
    font-size: 20px;
}

.custumer{
    font-size: 20px;
    margin-left: 10px;
}

.adres{
    margin-top: 10px;
    font-size: 20px;
}
.ownerAdres{
    margin-left: 20px; 
}
.owmerInfo{
    margin-top: 5px;
    margin-left: 180px; 
}

.stigmaBlock{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
}
.stigmaIn{
    margin-left: 30px;
}

.methodBlock{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
}

.method{
    margin-left: 30px;
}

.mathodDiscription{
    margin-left: 230px;
    font-size: 15px;
}

.attantionBlock{
    margin-top: 30px;
    margin-left: 50px;
    font-style: italic;
    font-size: 20px;
}

.signBlock{
    margin-top: 300px;
    margin-left: 50px;
    font-size: 20px;
}
.sign{
    margin-left: 130px;
    border-bottom: 1px solid black;
}

.date{
    margin-left: 40px;
}
.dateNum{
    margin-left: 5px;
}

.fio{
    margin-left: 350px;
}

.sert{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
}
.sertNum{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
}
.tableBlockTl{
    font-size: 15px;
    width: 70px;
    height: 30px;
}

.stigmaPage{
    margin-left: 20px;
    font-size: 15px;
}

.pagePageTwo{
    margin-left: 480px;
}

.tableStandardBlock{
    margin-left: 100px;
}

.tableStandard{
    padding-left: 5px;
    font-size: 10px;
    text-align: center;
}

.looking{
    margin-left: 20px;
    font-size: 15px;
}

.conditionsBlock{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
}

.conditions{
margin-left: 115px;
}

.tempreture{
    margin-left: 50px;
}

.resultT{
    margin-left: 50px;
}

.frequency{
    margin-left: 315px;
}
.pressure{
    margin-left: 380px; 
}
.resultP{
    margin-left: 40px;
}
.voltage{
    margin-left: 350px;
}

.resultV{
    margin-left: 53px;
}
.resultF{
    margin-left: 54px;
}

.tab2{
    margin-left: 350px;
}

.tableBlock{
    margin-left: 30px;
    font-size: 15px;
    text-align: center;
}
.gum{
    margin-left: 17px;
    margin-right: 5px;
    border-bottom: 1px solid #000;
}

.result{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}
.interval{
    margin-top: 5px;
    margin-left: 30px;
    font-size: 15px;
}

.engineer{
    margin-top: 7px;
    margin-left: 20px;
    font-size: 15px;
}
.name{
   margin-left: 180px; 
   border-bottom: 1px solid #000;
}
.nameDisv{
    margin-left: 500px;
    font-size: 15px; 

}

.adressAgain{
    margin-top: 10px;
    text-align: center;
}
.site{
    text-align: center; 
}

.labAdress{
    margin-left: 300px;
}