.input{
    margin-left: 1.5%;
    margin-top: 10px;
}

.dicription{
    margin-left: 10px;
    opacity: 0.5;
}

.createCertificate{
    margin-left: 45%;
    background-color: green;
    color: white
}